.alice-regular {
  font-family: "Alice", serif;
  font-weight: 400;
  font-style: normal;
}

body {
    font-family: "Alice", serif;
    background-color: #efeded;
}

h1 {
    text-align: center;
    font-size: 50px;
}

h4 {
    text-align: center;
    font-size: 20px;
}
/* Calendar Container */
.calendar-container {
    width: 1000px;
    margin: 40px auto;
    font-family: "Alice", serif;
    box-shadow: 0 4px 20px rgba(0,0,0,0.1);
    border-radius: 12px;
    padding: 20px;
    background: white;

}

/* Header */
.calendar-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    background: #cae1ff;
    border-radius: 12px;
}

.calendar-header button {
    background: #cae1ff;
    border: 0.5px;
    padding: 8px 12px;
    font-size: 18px;
    cursor: pointer;
    border-radius: 6px;
}

/* day names row */
.calendar-days {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    text-align: center;
    font-weight: bold;
    margin-bottom: 10px;
}

/* calendar grid */
.calendar-grid {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 8px;
}

/* each day box */
.day {
    aspect-ratio: 5 / 4;
    min-height: 100px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    border: 2px solid #1807616c;
    border-radius: 6px;
    padding: 6px;
}

.day:hover {
    background: #cae1ff;
    cursor: pointer;
    transition: 0.2s;
}

.empty {
    background: transparent;
    border: none;
}

.today {
    background: #cae1ff;
    border: 2px solid #000000;
}

/* date number */
.date {
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 6px;
    position: static;
}

/* for events */

.event {
    display: block;
    width: 100%;        /* fits inside .events */
    margin: 4px 0;
    padding: 4px 6px;
    box-sizing: border-box;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    border-radius: 8px;
}

.events {
    overflow-y: auto;
    overflow-x: hidden;
    flex-grow: 1;
    width: 100%;
    padding: 0 8px;
    margin-top: 4px;
}

.event[data-category = "meeting"] {
    background: #d5cdff;
    color: #3a2a7a
}

.event[data-category = "cleanup"] {
    background: #cdffcd;
    color: #1b6112
}

.event[data-category = "festival"] {
    background: #cdd9ff;
    color: #081e4d
}

.event[data-category = "food-drive"] {
    background: #ffeecd;
    color: #4d2908
}

.event[data-category = "holiday"] {
    background: #ffcdcd;
    color: #4d0808
}

.event[data-category = "read"] {
    background: #ffcdf3;
    color: #4d0808
}

.event:hover {
    background: #d8d2ff
}

/* for pop up card for events */
.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.4);
    justify-content: center;
    align-items: center;
}

.modal-content {
    background: white;
    padding: 20px;
    width: 300px;
    border-radius: 12px;
    box-shadow: 0 4px 20px rgba(0,0,0,0.2);
    text-align: center;
    position: relative;
}

.close {
    float: right;
    font-size: 24px;
    cursor: pointer;
    position: absolute;
    top: 10px;
    right: 14px
}
